@*操作实体*@
@model IEnumerable<DaXingShangMaoSystem.LY.PeiHuoDan>

<style type="text/css">
    .c {
        width: 100%;
        border: 1px solid green;
        border-collapse: collapse;
    }

        .c th, .c td {
            border-color: #99bce8;
            color: black;
            line-height: 1.8em;
            border: 1px solid #99bce8;
        }

        .c td {
            padding: 2px;
        }

    /*.c th {
            background: url(../images/skins/default/bg.gif) repeat-x #f4f4f4;
        }*/

    button {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
</style>
<style>
    /* 打印的时候让打印按钮隐藏 */
    @@media only print {
        button {
            display: none;
        }
    }
</style>

<button href="#" onclick="window.print();return false;">打印表格</button>

<table class="c">
    <thead>
        <tr>
            <th width="9%">上市单编号</th>
            <th width="8%">	发货部门</th>
            <th width="7%">	付货人</th>
            <th width="7%">收货人</th>
            <th width="9%">店家名称</th>
            <th width="11%">供货单位</th>

            <th width="9%">商品售卖优惠</th>
            <th width="7%">	登记人</th>
            <th width="9%">登记时间</th>

            <th width="7%">审核人</th>
            <th width="9%">审核时间</th>
            <th width="8%">销售状态</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var PeiHuoDan in Model)
            {
            <tr>
                <td>@PeiHuoDan.P_Remember</td>
                <td>@PeiHuoDan.SpouseBRanchName</td>
               
                <td>@PeiHuoDan.payName</td>
                <td>@PeiHuoDan.furlName</td>
                <td>@PeiHuoDan.StockPlaceName</td>

                <td>@PeiHuoDan.Remarks</td>

                <td>@PeiHuoDan.QiDongName</td>
                <td>@PeiHuoDan.RegisterName</td>
                <td>@PeiHuoDan.registerTime</td>
                <td>@PeiHuoDan.ExamineName</td>
                <td>@PeiHuoDan.examineTime</td>
                <td>@PeiHuoDan.ExamineNotSt</td>
            </tr>
        }

    </tbody>

    <!--启动前，先将服务端写好（查询表数据）再运行-->
</table>
